#!/bin/sh
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh
################################################
# File: rb5_px4_hil.conf
# Description: Start PX4 in HITL mode on RB5 
# reference drone platform. Uses UDP for MAVLink
# connection instead of standard serial found on
# other PX4 Autopilots.
# Author: Rich Martin (rich@modalai.com)
# Company: ModalAI, Inc.
################################################
uorb start
muorb start
# Sleep a little here. A lot happens when the uorb and muorb start
# and we need to make sure that it all completes successfully to avoid
# any possible race conditions.
sleep 1
logger start -t -b 200
sleep 1
qshell icm42688p start -s
sleep 1
#param load
#HITL reference file: https://github.com/PX4/PX4-Autopilot/blob/master
param set MAV_BROADCAST 0
param set SYS_AUTOCONFIG 1
param set CBRK_SUPPLY_CHK 894281
param set MAV_TYPE 2
param set SYS_AUTOSTART 1001
param set SYS_HITL 1
# Multi-EKF
param set EKF2_MULTI_IMU 1
param set SENS_IMU_MODE 1
param set MPC_XY_VEL_MAX 10
param set MPC_VEL_MANUAL 5
param set EKF2_AID_MASK 1
param set COM_RC_IN_MODE 1
param set NAV_RCL_ACT 0
param set EKF2_HGT_MODE 1
param set EKF2_RNG_AID 0
param set BAT_N_CELLS 4

param set CAL_ACC0_ID 1310988 # 1310988: DRV_IMU_DEVTYPE_SIM, BUS: 1, ADDR: 1, TYPE: SIMULATION
param set CAL_ACC1_ID 1310996 # 1310996: DRV_IMU_DEVTYPE_SIM, BUS: 2, ADDR: 1, TYPE: SIMULATION
param set CAL_ACC2_ID 1311004 # 1311004: DRV_IMU_DEVTYPE_SIM, BUS: 3, ADDR: 1, TYPE: SIMULATION
param set CAL_GYRO0_ID 1310988 # 1310988: DRV_IMU_DEVTYPE_SIM, BUS: 1, ADDR: 1, TYPE: SIMULATION
param set CAL_GYRO1_ID 1310996 # 1310996: DRV_IMU_DEVTYPE_SIM, BUS: 2, ADDR: 1, TYPE: SIMULATION
param set CAL_GYRO2_ID 1311004 # 1311004: DRV_IMU_DEVTYPE_SIM, BUS: 3, ADDR: 1, TYPE: SIMULATION
param set CAL_MAG0_ID 197388
param set CAL_MAG1_ID 197644
param set IMU_INTEG_RATE 50


#sleep 1
#dataman start
#command not found and returns with error
#load_mon start
#rc_update start
#qshell sensors start -h
#commander start -h
#commander mode manual
#mavlink start -u 14560 -o 14577 -r 1000000 -t 192.168.9.150 -n wlan0
#mavlink start -x -u 14577 -o 14589 -r 1000000 -n eth1
#sleep 1
#navigator start
#ekf2 might be taking time to start and stopping these other services 
#qshell ekf2 start
#sleep 10
#mc_pos_control start
#qshell spektrum_rc start
#qshell modalai_esc status
qshell modalai_dsp start
#qshell mc_pos_control start
#mc_att_control start
#qshell mc_att_control start
# mc_rate_control start
#qshell mc_rate_control start
#qshell mc_hover_thrust_estimator start
# This is needed for altitude and position hold modes
#flight_mode_manager start
# land_detector start multicopter
#qshell land_detector start multicopter
#sleep 1
#next command not found
#navio_sysfs_rc_in start
#qshell pwm_out_sim start -m hil
#qshell pwm_out_sim start
#qshell modalai_dsp start
#qshell mixer load /dev/pwm_output0 quad_x.main.mix
#qshell ekf2 start
#sleep 1
#mavlink boot_complete
