#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start

param load

sleep 2

param set CAL_ACC0_ID 1
param set CAL_ACC0_PRIO 100
param set CAL_ACC0_ROT -1


param set CAL_ACC0_XOFF 0.1
param set CAL_ACC0_XSCALE 0.9
param set CAL_ACC0_YOFF 0.1
param set CAL_ACC0_YSCALE 0.9
param set CAL_ACC0_ZOFF 0.1
param set CAL_ACC0_ZSCALE 0.9


param set CAL_GYRO0_ID 1
param set CAL_GYRO0_PRIO 100
param set CAL_GYRO0_ROT -1


param set CAL_GYRO0_XOFF 0.1
param set CAL_GYRO0_YOFF 0.1
param set CAL_GYRO0_ZOFF 0.1


param set CAL_MAG0_ID 1
param set CAL_MAG0_PRIO 100
param set CAL_MAG0_ROT -1


param set CAL_MAG0_XCOMP 0.1
param set CAL_MAG0_XODIAG 0.1
param set CAL_MAG0_XOFF 0.1
param set CAL_MAG0_XSCALE 0.9
param set CAL_MAG0_YCOMP 0.1
param set CAL_MAG0_YODIAG 0.1
param set CAL_MAG0_YOFF 0.1
param set CAL_MAG0_YSCALE 0.9
param set CAL_MAG0_ZCOMP 0.1
param set CAL_MAG0_ZODIAG 0.1
param set CAL_MAG0_ZOFF 0.1
param set CAL_MAG0_ZSCALE 0.9

param save

sleep 2

shutdown
