#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start
muorb start

# Sleep a little here. A lot happens when the uorb and muorb start
# and we need to make sure that it all completes successfully to avoid
# any possible race conditions.
sleep 1

param load

# We don't change the value of SYS_AUTOCONFIG but if it doesn't
# show up as used then it isn't reported to QGC and we get a
# missing parameter error.
param touch SYS_AUTOCONFIG

sleep 1

# Start logging on start and use timestamps for log files
logger start -t

dataman start

navigator start

commander start
commander mode manual

# Can use something like this to direct PX4 to a specific QGC
# mavlink start -x -o 14547 -r 40000 -n eth1 -t 192.168.0.117

mavlink start -x -u 14556 -r 40000
sleep 1
mavlink stream -u 14556 -s HIGHRES_IMU -r 5
mavlink stream -u 14556 -s ATTITUDE -r 5
mavlink stream -u 14556 -s RC_CHANNELS -r 20

# Pixhawk 4 GPS module
gps start -d /dev/ttyHS2 -b 38400

sleep 1

spektrum_rc start -d /dev/ttyHS1
rc_update start

# Magnetometer
qshell ist8310 start -R 10 -X -b 1

# Barometer
qshell baro_thin_client start

# IMU (accelerometer / gyroscope)
qshell imu_thin_client start

sleep 1

# sensors start
qshell sensors start

# ekf2 start
qshell ekf2 start

# mc_pos_control start
qshell mc_pos_control start

# mc_att_control start
qshell mc_att_control start

# mc_rate_control start
qshell mc_rate_control start

qshell mc_hover_thrust_estimator start

# This is needed for altitude and position hold modes
flight_mode_manager start

# land_detector start multicopter
qshell land_detector start multicopter

sleep 1

# ESC driver
qshell modalai_esc start
qshell mixer load /dev/uart_esc quad_x.main.mix

sleep 1

# APM power monitor
qshell voxlpm start -X -b 2

# Start up the IMU server to support VIO
imu_server start

mavlink boot_complete
