#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start
muorb start

# Sleep a little here. A lot happens when the uorb and muorb start
# and we need to make sure that it all completes successfully to avoid
# any possible race conditions.
sleep 1

# param load

# sleep 1

# Start logging on start and use timestamps for log files
# logger start -e -t

# dataman start

# navigator start

# mavlink start -x -u 14556 -r 40000
# sleep 1
# mavlink stream -u 14556 -s HIGHRES_IMU -r 5
# mavlink stream -u 14556 -s ATTITUDE -r 5
# mavlink stream -u 14556 -s RC_CHANNELS -r 20

# Pixhawk 4 GPS module
# qshell ist8310 start -X -b 1
# gps start -d /dev/ttyHS2 -b 38400

# Barometer
# qshell baro_thin_client start

# IMU (accelerometer / gyroscope)
# qshell imu_thin_client start

# RC is on the apps side for now (Mavlink joystick from QGC)
# qshell rc driver

# sensors start
# qshell sensors start

# ekf2 start
# qshell ekf2 start

# mc_pos_control start
# qshell mc_pos_control start

# mc_att_control start
# qshell mc_att_control start

# mc_rate_control start
# qshell mc_rate_control start

rc_update start
# qshell rc_update start

# land_detector start multicopter
# qshell land_detector start multicopter

# qshell modalai_esc start

# qshell mixer load /dev/uart_esc quad_x.main.mix

# APM power monitor
# qshell voxlpm start -X -b 2

# commander start
# commander mode manual
# qshell commander start
# qshell commander mode manual

# mavlink boot_complete
