[Unit]
Description=net-check
After=sscrpcd.service
Requires=sscrpcd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/net-check.sh wlan0 192.168.0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
