#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start
muorb start

# Sleep a little here. A lot happens when the uorb and muorb start
# and we need to make sure that it all completes successfully to avoid
# any possible race conditions.
sleep 1

# IMU (accelerometer / gyroscope)
# Start this first because it gets the high rate interrupts coming in to the
# DSP. Without this the DSP will oversleep and miss critical timeouts.
# TODO: Why is that the case?
qshell icm42688p start -s

sleep 1

# Magnetometer
# qshell ist8310 start -R 10 -X -b 1
# echo $?
# qshell ist8310 status
# echo $?

# LED driver for the Pixhawk 4 GPS module
# qshell rgbled_ncp5623c start -X -b 1 -f 400 -a 56
# echo $?
# qshell rgbled_ncp5623c start -X -b 1 -f 400 -a 57
# echo $?
# qshell rgbled_ncp5623c status
# echo $?


# Pixhawk 4 GPS module
# qshell gps start -d 7 -b 115200
# echo $?

# Barometer driver
# qshell icp10100 start -I -b 5
# RETVAL=$?
# if [ $RETVAL -ne 0 ]; then
#     echo Barometer start failed!!!
# fi
# COUNTER=1
# while :
# do
#     qshell icp10100 start -I -b 5
#     RETVAL=$?
#     if [ $RETVAL -ne 0 ]; then
#         echo Barometer start failed!!!
#         break
#     fi
#     sleep 1
#     qshell icp10100 stop
#     sleep 1
#     echo "Loop count $COUNTER"
#     let "COUNTER=COUNTER+1"
# done

# APM power monitor
# qshell voxlpm start -X -b 2
# RETVAL=$?
# if [ $RETVAL -ne 0 ]; then
#     echo ">>>>>>>>>>>>>>>>>>>> APM start failed!!! <<<<<<<<<<<<<<<<<<<<<"
# fi
