#!/bin/sh
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh
################################################
# File: rb5_px4_hil.conf
# Description: Start PX4 in HITL mode on RB5
# reference drone platform. Uses UDP for MAVLink
# connection instead of standard serial found on
# other PX4 Autopilots.
# Author: Rich Martin (rich@modalai.com)
# Company: ModalAI, Inc.
################################################
uorb start
muorb start
# Sleep a little here. A lot happens when the uorb and muorb start
# and we need to make sure that it all completes successfully to avoid
# any possible race conditions.
sleep 1
logger start -e -t -b 200
sleep 1
qshell icm42688p start -s -h
sleep 1
param load
sleep 1
dataman start
rc_update start
qshell sensors start -h
commander start -h
commander mode manual
sleep 1
navigator start
qshell mc_pos_control start
qshell mc_att_control start
qshell mc_rate_control start
qshell mc_hover_thrust_estimator start
# This is needed for altitude and position hold modes
flight_mode_manager start
# land_detector start multicopter
qshell land_detector start multicopter
sleep 1
qshell pwm_out_sim start -m hil
qshell mixer load /dev/pwm_output0 quad_x.main.mix
sleep 1
qshell ekf2 start
sleep 1
qshell modalai_dsp start
sleep 1
mavlink start -x -u 14556 -o 14557 -r 100000 -n lo -m onboard
mavlink boot_complete

