#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start
sleep 1

param set CBRK_SUPPLY_CHK 894281
param set COM_DISARM_PRFLT -1
param set COM_RC_IN_MODE 1
param set NAV_RCL_ACT 0
param set EKF2_AID_MASK 1
param set EKF2_HGT_MODE 0
param set EKF2_RNG_AID 1

param save

sleep 2

shutdown
